= link_to "\u2190 "+ "Dashboard", dashboard_path
%h2= "Saisons"
%hr
- if @seasons.any?
  %ul
    =  render partial: "season", collection: @seasons
- else
  .well#noQuestions
    ='Keine Saisons vorhanden'
.toolbar
  = new_season_button