%nav.navbar.navbar-fixed-top.navbar-inverse
	.navbar-inner
		%div{class: "container" }
			%a.btn.btn-navbar{data:{toggle:"collapse", target:".nav-collapse"}}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to (image_tag('tafel.jpg', alt: "Simple", size: "60x40" )+" The Simple App"), leagues_path
			%ul.nav.pull-right
				%li.dropdown
					%a.dropdown-toggle{href:'#', data: {toggle:'dropdown'}}
						= "Name"
						%b.caret
					%ul.dropdown-menu
						%li= link_to "Admin"